<figure>
    <form ng-upload="UploadProfilePiture()" action="/File/Upload">

        <img data-ng-src="File/{{ userProfile.PhotoId }}/{{ userProfile.File.Name }}" class="img-polaroid profile-picture" />

        <input type="file" name="file" />
        <input type="submit" value="Upload from computer" class="upload-submit" id="submitPicture" />

        <i class="glyphicon glyphicon-plus"></i>

    </form>
</figure>

