#profile-details #section-left {
    min-width:130px
}

fieldset.legend {
    display :block;
    border :none;
}

/*-------------------------------------------*/
/*.inputempty {
    background: White !important;
    background-color: #FF7373 !important;   
    border: 1px solid #CCCCCC !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}
    .inputempty:focus {
        border-color: rgba(82, 168, 236 , 0.8) !important;
        box-shadow:  0 0 4px rgba(82, 168, 236 , 0.8) !important;
    }*/

/*.ng-dirty.ng-valid.validation {  
    background-color: rgba(11, 155, 32, 0.2) ;
    border:1px solid Green;    
    font-weight:bold;
}
    .ng-dirty.ng-valid.validation:focus {  
        background-color:white;
        color: black;
        font-weight:normal;
    }
.ng-dirty.ng-invalid.validation {
    border:1px solid Red;      
    background-color: rgba(255, 0, 0, 0.2);     
    font-weight:bold;
}
    .ng-dirty.ng-invalid.validation:focus {          
        background-color: White;   
        color: black;
        font-weight:normal;
    }
    .ng-pristine.ng-valid.validation:focus, .ng-pristine.ng-invalid.validation:focus, .ng-dirty.ng-valid.validation:focus , .ng-dirty.ng-invalid.validation:focus {  
        border-radius:0;
        
    }*/

.validation:hover {
    cursor:pointer;
}
.validation:focus {
    border-radius:0;    
}

#displayusername {
    border-bottom: 1px solid #2B424A !important;
    margin-bottom: 1em ;   
}

#changepic {
    cursor:default;
    background-color: rgba(41, 177, 219, 0.6);
    padding:1em;
    position: absolute;    
    top:25px;  
    visibility: hidden;  
}
   
/*#changepicture {
    background-color: rgba(237, 236, 236, 0.5);
    position:relative;
    
}*/
#sbmtpicture {
    display:none;
}

#sbmtfilePicture {
    position:absolute;   
	left: 15px; 
    top:25px;   
    height:170px;
    width:140px;
    opacity:0;
}
    