#profile-details #section-left {
    min-width:130px
}


.inputsempty{
    background-color: #FF7373 !important;
   
}

/*-------------------------------------------*/

.ng-dirty.ng-valid.validation {    
     border:1px solid Green;
}

.ng-dirty.ng-invalid.validation {
    border:1px solid Red;      
    background-color: #FF7373;   
    color: white;

}
