<div id="displayusername">
    <label>Name:  {{ userProfile.UserName  }}</label>
    
</div>

<section class="row-fluid" id="profile-details">

    <section class="span3" id="section-left">

        <figure>
            <img src="../../Images/account.jpg" class="img-polaroid profile-picture" />
        </figure>

    </section>

    <section class="span9">
        <fieldset class="form-horizontal">

            <legend>Personal Info</legend>

            <div class="control-group">
                <label class="control-label">User name:</label>
                <div class="controls">
                    <input type="text" data-ng-class="{inputsempty:isNullOrEmpty(userProfile.UserName)}" data-ng-model="userProfile.UserName" required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">First name:</label>
                <div class="controls">
                    <input type="text" class="validation" data-ng-model="userProfile.FirstName" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Last name:</label>
                <div class="controls">
                    <input type="text" class="validation" data-ng-model="userProfile.LastName" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Email:</label>
                <div class="controls">
                    <input type="email" class="validation" placeholder="email@x.com" data-ng-model="userProfile.UserEmail" required />
                </div>
            </div>


            <!--<label class="addme">Add me</label>-->
            <div class="control-group">
                <label class="control-label">DOB:</label>
                <div class="controls">
                    <input type="text" class="validation" id="DOB" data-ng-model="userProfile.DOB"/>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-horizontal">
            <legend>Contact info</legend>
            <div class="control-group">
                <label class="control-label">Country:</label>
                <!--<input type="text" data-ng-model="userProfile.UserCountry" />-->
                <div class="controls">
                    <select class="validation" >
                        <option data-ng-repeat="ctry in userProfile.UserAddress.Country" data-ng-model="ctry.Name"></option>
                       
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">State:</label>
                <div class="controls">
                    <input type="text" class="validation" data-ng-model="userProfile.UserAddress.State" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">City:</label>
                <div class="controls">
                    <input type="text" class="validation" data-ng-model="userProfile.UserAddress.City" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Address:</label>
                <div class="controls">
                    <input type="text" class="validation" data-ng-model="userProfile.UserAddress.Line1" />                   
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" class="validation" data-ng-model="userProfile.UserAddress.Line2" />                   
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Zip code:</label>
                <div class="controls">
                    <input type="text" class="validation" data-ng-model="userProfile.UserAddress.Zipcode" />
                </div>
            </div>
            <div class="control-group" id="divphones">
                <label class="control-label">Phone:</label>
                <div class="controls" data-ng-repeat="ph in userProfile.UserPhones" >
                    <input type="text" class="validation" data-ng-model="ph.Number" />
                </div>               
            </div>
             <label data-ng-click="addPhone()">agregar</label>
        </fieldset>
        <div class="form-actions">
            <input type="button" value="Save" class="btn btn-primary" data-ng-click="updateProfile()" />
        </div>

    </section>


</section>



