body {
    background: #0e0e0e;
    background-attachment: fixed !important;
    font-size: 13px;
    font-family: 'Ubuntu', Arial, Arial Unicode MS, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    position: relative;
    width: auto;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: auto;
    margin-top: 110px;
}

#main {
    width: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: right;
    vertical-align: top;
}

#logo-name {
    color: rgb(41, 177, 219);
    font-size: 28px;
}

.button {
    background: #29B1DB;
    border-radius: 4px;
    border-width: 0;
    padding: 0 21px;
    height: 29px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Ubuntu', Arial, Arial Unicode MS, Helvetica, Sans-Serif !important;
    font-weight: bold;
    font-style: normal;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #0e0e0e;
    margin: 0 5px 0 0 !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 30px;
}

#block-left {
    display: inline-block;
    width: 550px;
    text-align: left;
    position: relative;
    top: -160px;
}


#blockbody {
    border-left: 1px solid #2B424A;
    width: 200px;
    display: inline-block;
    padding: 16px;
}

    #blockbody section {
        width: 100%;
    }

h3 {
    font-family: Ubuntu,Arial,'Arial Unicode MS',Helvetica,Sans-Serif;
    font-size: 18px;
    font-variant: small-caps;
    margin: 10px 0 0;
    text-align: center;
    color: #29B1DB;
}


.blockcontent {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0px;
}

.login-fieldset li {
    border: 0;
    text-align: left;
    color: #29B1DB;
    margin-bottom: 10px;
}

.login-fieldset div {
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

.login-fieldset button {
    background-color: transparent;
    border: 0 none;
    width: 34px;
    cursor: pointer;
}


input[type="text"], input[type="password"], input[type="email"] {
    background: #2B424A;
    background: linear-gradient(top, rgba(61, 95, 107, 0.5) 0, rgba(61, 95, 107, 0.5) 50%, rgba(58, 89, 100, 0.5) 60%, rgba(20, 32, 36, 0.5) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(61, 95, 107, 0.5) 0, rgba(61, 95, 107, 0.5) 50%, rgba(58, 89, 100, 0.5) 60%, rgba(20, 32, 36, 0.5) 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(61, 95, 107, 0.5) 0, rgba(61, 95, 107, 0.5) 50%, rgba(58, 89, 100, 0.5) 60%, rgba(20, 32, 36, 0.5) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(61, 95, 107, 0.5) 0, rgba(61, 95, 107, 0.5) 50%, rgba(58, 89, 100, 0.5) 60%, rgba(20, 32, 36, 0.5) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(61, 95, 107, 0.5) 0, rgba(61, 95, 107, 0.5) 50%, rgba(58, 89, 100, 0.5) 60%, rgba(20, 32, 36, 0.5) 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(61, 95, 107, 0.5) 0, rgba(61, 95, 107, 0.5) 50%, rgba(58, 89, 100, 0.5) 60%, rgba(20, 32, 36, 0.5) 100%) no-repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.17);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(106, 178, 200, 0.5);
    margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 4px 4px;
    color: #fff;
    font-size: 11px;
    font-family: Ubuntu, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-style: normal;
}

footer {
    border-top: 1px solid #2B424A;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    font-family: Verdana;
    padding-top: 15px;
}

a {
    color: #a7a7a7;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

p {
    margin: 0;
    color: #29b1db;
}


#socialLoginList {
    margin-left: 29px;
}


footer a {
    color: #507B8B;
    text-decoration: none;
}



.field-validation-error {
    bottom: 22px;
    font-size: 11px;
    left: 223px;
    position: relative;
    background-color: whitesmoke;
    padding: 4px;
    color: #0E0E0E;
    border-radius: 4px;

}
